
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col">Available</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="{{products[i].volumeInfo.imageLinks.thumbnail}}"></td>
                            <td>{{products[i].volumeInfo.title}}</td>
                            <td>In stock</td>
                            <td><input class="form-control" type="text" [value]="quantity" /></td>
                            <td class="text-right">{{products[i].saleInfo.retailPrice.amount * quantity}}</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                        </tr>
                        
                        <tr>
                            
                            <td>Sub-Total</td>
                            <td class="text-right">{{products[i].saleInfo.retailPrice.amount}}</td>
                        </tr>
                        <tr>
                            
                            <td>Shipping</td>
                            <td class="text-right"> 0</td>
                        </tr>
                        <tr>
                           
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong> {{products[i].saleInfo.retailPrice.amount}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light" (click)="continue()">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

